.cancha{
  width: 950px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  top: 80px;
  background-color:#8CCD83;
}

.borde{
  width: 900px;
  height: 450px;
  position: absolute;
  top: 90px;
  border: 5px solid white;
  background-color: transparent;
  left: 20px;
  top: 20px;
}

.arco1{
  width: 100px;
  height: 200px;
  position: absolute;
  top: 90px;
  border: 5px solid white;
  background-color: transparent;
  left: 20px;
  top: 140px;
}

.arco2{
  width: 100px;
  height: 200px;
  position: absolute;
  top: 90px;
  border: 5px solid white;
  background-color: transparent;
  left: 820px;
  top: 140px;
}

.circulocentral{
  width: 170px;
  height: 170px;
 -moz-border-radius: 50%;
 -webkit-border-radius: 50%;
  background:transparent;
  border: 5px solid white;
  position: absolute;
  top: 160px;
  left: 378px;
}

.pelota1{
  width: 30px;
  height: 30px;
 -moz-border-radius: 50%;
 -webkit-border-radius: 50%;
  background:white;
  position: absolute;
  top: 160px;
  left: 110px;
}

.fa-futbol-o{
  font-size: 30px;
  position: absolute;
  top: 160px;
  left: 110px;
}

.pelota2{
  width: 30px;
  height: 30px;
 -moz-border-radius: 50%;
 -webkit-border-radius: 50%;
  background:white;
  position: absolute;
  top: 90px;
  left: 500px;
}

.ball2 .fa-futbol-o {
  font-size: 30px;
  position: absolute;
  top: 90px;
  left: 500px;
}

.ball3 .fa-futbol-o {
  font-size: 30px;
  position: absolute;
  top: 300px;
  left: 800px;
}

.pelota3{
  width: 30px;
  height: 30px;
 -moz-border-radius: 50%;
 -webkit-border-radius: 50%;
  background:white;
  position: absolute;
  top: 300px;
  left: 800px;
}
